.ic-seat {
    transform: scaleX(-1);
    background-image: url("~@autonomous/web/vueLib/badge/img/seat-48.svg");
}
.ic-bus {
    background-image: url("~@autonomous/web/vueLib/badge/img/bus-48.svg");
}
.ic-bus-alert {
    background-image: url("~@autonomous/web/vueLib/badge/img/bus-alert-48.svg");
}
.ic-hand {
    background-image: url("~@autonomous/web/vueLib/badge/img/hand-48.svg");
}
.ic-clock {
    background-image: url("~@autonomous/web/vueLib/badge/img/clock-48.svg");
}
.ic-download {
    background-image: url("~@autonomous/web/vueLib/badge/img/download-48.svg");
}
.ic-report {
    background-image: url("~@autonomous/web/vueLib/badge/img/report-48.svg");
}
.ic-report-off {
    background-image: url("~@autonomous/web/vueLib/badge/img/report-off-48.svg");
}
.ic-running {
    background-image: url("~@autonomous/web/vueLib/badge/img/running-48.svg");
}
.ic-tri-warning {
    background-image: url("~@autonomous/web/vueLib/badge/img/triangle-warning-48.svg");
}
.ic-comment {
    background-image: url("~@autonomous/web/vueLib/badge/img/comment-48.svg");
};
.ic-road {
    background-image: url("~@autonomous/web/vueLib/badge/img/road-48.png");
};